<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Servlets Tutorial</display-name>


    <filter>
        <filter-name>FilterServlets</filter-name>
        <filter-class>com.perepelitsya.FilterServlets</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterServlets</filter-name>
        <url-pattern>/FilterServlets</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>com.perepelitsya.SimpleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StatusCode</servlet-name>
        <servlet-class>com.perepelitsya.StatusCode</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletRequest</servlet-name>
        <servlet-class>com.perepelitsya.ServletRequest</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletResponse</servlet-name>
        <servlet-class>com.perepelitsya.ServletResponse</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PassingParametersUsingGetMethodDemo</servlet-name>
        <servlet-class>com.perepelitsya.PassingParametersUsingGetMethodDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PassingParametersUsingPostMethodDemo</servlet-name>
        <servlet-class>com.perepelitsya.PassingParametersUsingPostMethodDemo</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>ErrorServlets</servlet-name>
        <servlet-class>com.perepelitsya.ErrorServlets</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SessionTracking</servlet-name>
        <servlet-class>com.perepelitsya.SessionTracking</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>CookieServlets</servlet-name>
        <servlet-class>com.perepelitsya.CookieServlets</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>DataBase</servlet-name>
        <servlet-class>com.perepelitsya.DataBase</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>DateTime</servlet-name>
        <servlet-class>com.perepelitsya.DateTime</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>AutoRefresh</servlet-name>
        <servlet-class>com.perepelitsya.AutoRefresh</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AutoRefresh</servlet-name>
        <url-pattern>/AutoRefresh</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RedirectAuto</servlet-name>
        <servlet-class>com.perepelitsya.RedirectAuto</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>LocaleServlets</servlet-name>
        <servlet-class>com.perepelitsya.LocaleServlets</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LocaleServlets</servlet-name>
        <url-pattern>/LocaleServlets</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PageVisitsCounter</servlet-name>
        <servlet-class>com.perepelitsya.PageVisitsCounter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PageVisitsCounter</servlet-name>
        <url-pattern>/PageVisitsCounter</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>RedirectAuto</servlet-name>
        <url-pattern>/RedirectAuto</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>DateTime</servlet-name>
        <url-pattern>/DateTime</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>DataBase</servlet-name>
        <url-pattern>/DataBase</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>CookieServlets</servlet-name>
        <url-pattern>/CookieServlets</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>SessionTracking</servlet-name>
        <url-pattern>/SessionTracking</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ErrorServlets</servlet-name>
        <url-pattern>/ErrorServlets</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>PassingParametersUsingPostMethodDemo</servlet-name>
        <url-pattern>/PassingParametersUsingPostMethodDemo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PassingParametersUsingGetMethodDemo</servlet-name>
        <url-pattern>/PassingParametersUsingGetMethodDemo</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ServletResponse</servlet-name>
        <url-pattern>/ServletResponse</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletRequest</servlet-name>
        <url-pattern>/ServletRequest</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>StatusCode</servlet-name>
        <url-pattern>/StatusCode</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/SimpleServlet</url-pattern>
    </servlet-mapping>


    <!--При вызове исключения сервлетом, веб-контейнер начинает в файле web.xml
        поиск элементов исключений (error-page и exception-type).-->
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorServlets</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Error</exception-type>
        <location>/ErrorServlets</location>
    </error-page>


</web-app>